@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Public+Sans:wght@300;400;700&display=swap');

:root{
--Dark-Blue : hsl(233, 26%, 24%);
--Lime-Green: hsl(136, 65%, 51%);
--Bright-Cyan: hsl(192, 70%, 51%);
--Grayish-Blue: hsl(233, 8%, 62%);
--Light-Grayish-Blue: hsl(220, 16%, 96%);
--Very-Light-Gray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);
}
*{
    font-family: 'Inter', sans-serif;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}
body{
    font-weight: 300, 400, 700;
    width: 1440px;
    overflow-x: hidden;
}
p{
    color: var(--Grayish-Blue);
}

button{
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
    color: var(--White);
    border: 2px !important;
    border-radius: 30px !important;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.navbar{
    background-color: var(--White);
    position: fixed;
    margin-left: 50px;
}
header{
    position: relative;
    z-index: 6;
    width: 1524px;
}
.navbar-brand{
    padding-left: 50px;
    padding-right: 274px;
    top: 10px !important;
}
.nav-link{
    color: var(--Grayish-Blue) !important;
    font-size: 15px !important;
}
.l{
    margin-right: 355px;
}
.container{
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 0px !important; 
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
}
.section-1{
    background-color:var(--Very-Light-Gray);
    position: relative;
    display: flex;
    flex-direction: row;
    height: 671px;
    width: 1655px;
}
.bg{
    position: relative;
    right: -216px;
    top: -255px;
}
.bg_img_mockups{
    position: absolute;
    z-index: 5;
    top: -130px;
    right: 0;
}
.text-for-section-1{
    position: relative;
    left: 226px;
    top: 100px;
}
.header-for-section-1{
    position: relative;
    margin-bottom: 20px;
}
.button-for-section-1{
    position: relative;
    margin-top: 25px;
}
.section-2{
    background-color:var(--Light-Grayish-Blue);
    position: relative;
    display: flex;
    flex-direction: column;
    height: 685px;
    width: 1655px;
}
.cards{
    position: relative;
    width: 1515px;
    display: flex;
    flex-direction: row;
}
.cardaya{
    margin-left: 25px;
}
.f-cardaya{
    margin-left: 154px;
}
.header-for-section-2{
    margin-bottom: 27px;
}
.cardaya-title h2{
    font-size: 24px !important;
}
.p-for-author{
    font-size: 12px;
    margin-left: 15px;
}
.p-for-cardaya{
    width: 298px;
    margin-top: 35px;
}
.icon-img{
    margin-bottom: 42px;
}
.text-for-section-2{
    width: 648px;
    margin-top: 101px;
    margin-left: 160px;
    margin-bottom: 65px;
}
.section-3{
    background-color:var(--Very-Light-Gray);
    position: relative;
    display: flex;
    flex-direction: column;
    height: 660px;
    width: 1655px;
}
.text-for-section-3{
    margin-top: 83px;
    margin-left: 124px;
    margin-bottom: 38px;
}
.Articles-cards{
    position: relative;
    width: 1515px;
    display: flex;
    flex-direction: row;
    margin-left: 55px;
}
.Articles-card{
    background-color: var(--White);
    width: 264px;
    margin-left: 76px;
    border: 1 solid;
    border-radius: 5px;
}
.articles-img img{
    width: 264px;
    margin-bottom: 10px;
    height: 189px;
    border: 1 solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.p-for-articles{
    font-size: 14px;
    margin-left: 15px;
    width: 234px;
  }
.article-title{
    width: 228px;
    margin-left: 15px;
}
footer{
    height: 200px;
    width: 1540px;
    background-color: var(--Dark-Blue);
    display: flex;
    flex-direction: row;
}
.footer-container{
    margin-left: 100px;

}
.logos{
    position: relative;
    top: 59px;
    display: flex;
    flex-direction: column;
}
.links{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 0px;
    right: -360px;
}
.left-colomn ,.right-colomn{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 30px;
}
.ff{
    margin-bottom: 15px;
    color: var(--Light-Grayish-Blue) !important;
}
.button-and-copyright{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -119px;
    right: -134px;
}
.button-for-footer{
    position:relative;
    margin-bottom: 28px;
    top: 10px;
}
.secondary-logos{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 49px;
}
.icona{
    margin-right: 10px;
}
@media screen and (max-width: 375px) {
    .navbar{
        margin-left: 0px;
    }
    header{
        width: 375px;
    }
    .navbar-brand {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .container{
        height: 2500px;
    }
    .section-1{
        flex-direction: column-reverse;
        height: 1100px;
    }
    .header-for-section-1{
        width: 238px;
        margin-left: 41px;
    }
    .text-for-section-1{
        position: relative;
        left: 33px;
        top: -20px;
        width: 347px;
    }
    .button-for-section-1{
        left: 60px;
    }
    .bg {
        position: absolute;
        right: 1001px;
        top: -255px;
      }
    .bg_img_mockups {
        position: relative;
        z-index: 5;
        top: -60px;
        right: 184px;
      }
    .section-2{
        flex-direction: column;
        height:auto;
    }
    .text-for-section-2{
        margin-top: 57px;
        margin-left: 32px;
        margin-bottom: 39px;
        width: 365px;
    }
    .header-for-section-2{
        width: 238px;
        position: relative;
        left: 90px;
    }
    .icon-img{
        margin-bottom: 17px;
    }
    .section-3{
        flex-direction: column;
        height: 100%;
    }
    .text-for-section-3 {
        margin-top: 18px;
        margin-left: 84px;
        margin-bottom: 10px;
    }
    .articles-img img {
        width: 300px;
    }
    .Articles-cards{
        flex-direction: column;
        margin-left: -20px;
    }
    .article-title {
        width: 290px;
    }
    .Articles-card{
        width: 300px;
        margin-left: 57px;
        margin-bottom: 20px;
    }
    .p-for-articles {
        font-size: 13px;
        margin-left: 16px;
        width: 271px;
      }
    .cards{
        flex-direction: column;
    }
    .f-cardaya , .cardaya {
        display: flex;
        flex-direction: column;
        margin-left: -1120px;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
      }
    footer{
        flex-direction: column;
        height: 100%;
    }
    .footer-container{
        flex-direction: column;
        height: 100%;
    }
    .links{
        flex-direction: column;
        margin-top: 20px;
        right: -32px;
        width: 127px;
        top: 46px;
    }
    .left-colomn , .right-colomn{
        align-items: center;
        justify-content: center;
    }
    .secondary-logos{
        top: 9px;
        left: -12px;
    }
    .icona{
        margin-right: 17px;
    }
    .logos{
        width: 150px;
        top: 28px;
        margin-left: 6px;
    }
    .button-and-copyright{
        position: inherit;
        display: inline list-item;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: -119px;
        right: 0px;
        top: 27px;
    }
    .copyright{
        position: relative;
        right: 50px;
    }
    .button-for-footer{
        margin-bottom: 43px;
        top: 37px;
        left: -6px;
    }
    .p-for-cardaya{
        width: 356px;
        margin-top: 6px;
    }
}
